<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>

    <table th:border="1px">
        <tr>
            <td>ID</td>
            <td>First name</td>
            <td>Last name</td>
            <td>Age</td>
            <td>E-Mail</td>
            <td>Roles</td>
        </tr>
        <tr>
            <td th:utext="${user.getId()}">ID</td>
            <td th:utext="*{user.getFirstName()}">First name</td>
            <td th:text="${user.getLastName()}">Last name</td>
            <td th:text="${user.getAge()}">Age</td>
            <td th:text="${user.getEmail()}">E-mail</td>
            <td th:text="${user.getUserRole()}">Roles</td>
        </tr>
    </table>
    <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>

</body>
</html>